input
{
  margin: 0;
  padding: 10px;
}

input[type="sumbit"]
{
  padding: 10px;
}

h1
{
  margin-top: 30px;
  margin-bottom: 0px;
}


.activity
{
  width: 80%;
  border : 1px solid #000;
  padding: 10px 10px 35px 10px; 
  margin: 0 auto 10px auto; 
}

.activity .row
{
  display: flex;
  justify-content: space-between;
}

.to-delete p 
{
  right: 0;
  display: inline;
}