.container {
    position: fixed;
    left: 50%;
    right: 50%;
    z-index: 1;
    margin: 50px 20px 0 20px;
  }

@media screen and (min-width: 201px) {
    body
    {
        background: #fff;
    }

    .background-image 
    {
      background-image: url('img/sport.jpg');
      background-size:cover;
      display: block;
      filter: blur(5px);
      -webkit-filter: blur(5px);
      height: 100%;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 0;
    }
  
    form .input-group 
    {
      height: 30px;
      padding: 3px;
      display: flex;
      justify-content: space-between;
    }
  }
  
  
  
  @media screen and (max-width: 200px) {
    .background-image
    {
      visibility: hidden;
    }
  }