*
{
  margin:0;
  padding:0;
}

body
{
  background: #0af;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1
{
  font-weight: 300;
  margin-bottom: 30px;
}

hr 
{
  width: 80%;
  margin: 20px 0 20px 10%;
}

.notification {
  background: white;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

input
{
  margin: 5px 0 5px 0;
}

input[type="submit"]
{
  margin: 20px 0 10px 0;
}

.container
{
    width: 60%;
    max-width: 900px;
    transform: translateX(-50%);
    margin: 5vh 50vw;
    background: white;
    box-shadow: 0px 0px 34px -6px grey;
    padding: 20px;
}

form .input-group 
{
  height: 30px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
}